/* Fichier CSS:Un premier exemple
 * nom du fichier style1.css */

/* modification des paramètres de la police
 * des paragraphes */

p{
	font-size:12px;
	font-style:italic;
	font-family: "Times New Roman", Times, serif;
}

h1 {
	font-size:2em;
	font-style:italic;
	font-weight:bold;
}

img {
	width:40px;
	float:right;
}

a {
	color: #FF0000;
	background-color: blue;
}

ul {
	clear:both;
	border-width:2px;
	border-color: green;
	border-style:dotted;
}